<div class="container-fluid px-0">
  <div class="row m-0">
    <div class="col p-0">
      <header class="text-center text-light mx-0">
        <h1 class="mat-display-3 py-3">Sorry!</h1>
      </header>
    </div>
  </div>
</div>
<section class="container mt-5">
  <div class="row text-light">
    <div class="col-6 align-middle text-center">
      <h2>404</h2>
      <p>Page Not Found</p>
    </div>
    <div class="col-6">
      <figure>
        <img src="../../assets/cloud.png" style="width: 120%; margin: -20% -15%" alt="">
      </figure>
    </div>
  </div>
</section>