<div class="container-fluid px-0">
  <div class="row m-0">
    <div class="col p-0">
      <header class="text-center text-light">
        <h1 class="mat-display-3 py-3">Weather Forecast</h1>
      </header>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 my-3" *ngFor="let city of cities">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{city.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/{{city.name}}.jpg" alt="{{city.name}}">
        <mat-card-actions>
          <a mat-button href="/forecast/{{city.link}}">Get Forecast</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>